<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cjhangdao.com.jinglin.sysmanager.dao.IUserinfoDao">
  <resultMap id="BaseResultMap" type="cjhangdao.com.jinglin.sysmanager.model.Userinfo">
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_id" jdbcType="INTEGER" property="role_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="usernature" jdbcType="VARCHAR" property="usernature" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="belongName" jdbcType="VARCHAR" property="belongName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, role_id, name, usernature, phone, belongName, note, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userinfo
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cjhangdao.com.jinglin.sysmanager.model.Userinfo">
    insert into userinfo (user_id, username, password, 
      role_id, name, usernature, 
      phone, belongName, note, 
      status)
    values (#{user_id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{usernature,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{belongName,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cjhangdao.com.jinglin.sysmanager.model.Userinfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role_id != null">
        role_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="usernature != null">
        usernature,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="belongName != null">
        belongName,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null">
        #{role_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="usernature != null">
        #{usernature,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="belongName != null">
        #{belongName,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cjhangdao.com.jinglin.sysmanager.model.Userinfo">
    update userinfo
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null">
        role_id = #{role_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="usernature != null">
        usernature = #{usernature,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="belongName != null">
        belongName = #{belongName,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cjhangdao.com.jinglin.sysmanager.model.Userinfo">
    update userinfo
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role_id = #{role_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      usernature = #{usernature,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      belongName = #{belongName,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPage" parameterType="Map"  resultType="cjhangdao.com.jinglin.sysmanager.model.Userinfo" >
  		select * from userinfo
  		   <if test="pageindex!=null and pagesize!=null">
	         limit #{pageindex},#{pagesize} 
	       </if> 
  		
  </select>
  <select id="getcount" resultType="int">
  		select count(1) from userinfo
  </select>
  <update id="redpwd" parameterType="int">
  	update userinfo
  	set password='123456'
  	where user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>